.form {
  max-width: 70%;
  width: 70%;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 0 auto;
  margin-top: 3rem;
  background: linear-gradient(45deg, #0a0a0b, #05313f);
  color: rgb(246, 246, 246);
  border-radius: 20px;
  height: 100%;
}

.form h3 {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 20px;
}

.form-body {
  margin-bottom: 20px;
}

.form_label {
  font-weight: bold;
}

.form_input {
  width: 100%;
  max-width: 20em; /* Adjust this value to control the input box width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form_input:focus {
  border-color: #666;
}

.btn {
  background-color: #333;
  color: #fff;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 3px !important;
  transition: background-color 0.3s ease;
  width: 25%;

}
.footer{
  border-radius: 20px;
  margin-top: 30px;
  
}

.btn:hover {
  background-color: #555;
}

/* Add animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  animation: slideIn 0.5s ease;
}
