.form {
  max-width: 70%;
  width: 70%;
  background-color: #b38282 !important;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 20px auto;
}

.form h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-body {
  margin-bottom: 20px;
}

.form_label {
  font-weight: bold;
}

.form_input {
  width: 100%;
  max-width: 20em; /* Adjust this value to control the input box width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form_input:focus {
  border-color: #666;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px !important;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Add animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  animation: slideIn 0.5s ease;
}
