.services-container {
    text-align: center;
    padding: 20px;
  }
  
  .services-container h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
    margin: 10px 0;
  }
  
  .services-container h1:hover {
    background-color: #7b7575;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service {
    width: 350px;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
  }
  
  .service:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  
  .service:hover img {
    transform: scale(1.1);
  }
  
  .service h2 {
    margin-top: 10px;
    font-size: 25px;
  }
  
  .service p {
    margin-top: 5px;
  }
  