@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

#login1 {
  display: flex;
  display: grid;
  max-width: 500px;
  height: 590px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.1px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 7rem;
  background: #a2b9bc;
  color: rgb(10, 10, 10);
  font-size: 23px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  animation: slideIn 0.5s ease;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(78, 76, 76, 0.984);
  color: whitesmoke;
  cursor: pointer;  
}

h3 {
  font-family: "Fjalla One", sans-serif;
}

.form-text {
  color: rgb(95, 158, 160);
}

.form-control {
  color: black;
}

#login1:hover {
  background-color: rgba(7, 7, 7, 0.984);
  color: whitesmoke;
  cursor: pointer;
}

#login1 form {
  transition: opacity 0.3s ease;
}

#login1 form:hover {
  opacity: 0.8;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
