/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: linear-gradient(45deg,white,rgb(62, 60, 60),white,grey); */
  /* background-image: url("https://images.unsplash.com/photo-1648941416478-319d8c2d06d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80") ; */
  opacity: 1.7;
  /* height: 100%; */
}

/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Hero Section Styles */
.hero-section {
   background-image: url("https://images.pexels.com/photos/210881/pexels-photo-210881.jpeg?auto=compress&cs=tinysrgb&w=600") ;
  opacity: 1;
  padding: 100px 0;
  text-align: center;
  margin:20px;
  margin-top: 30px;
  border-radius:8px ;
  background-repeat:repeat-x;
  color: black;

}

.hero-content h1 {
  font-size: 48px;
 font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Services Section Styles */
.services-section {
  padding: 80px 0;
  text-align: center;

}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.service-card {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 40px;
  transition: box-shadow 0.3s ease;
}

.service-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  color: #888;
}


/* FAQ Section Styles */
.faq-section {
  background-image: url("https://images.unsplash.com/photo-1665789318391-6057c533005e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");

  opacity: 0.9;
  padding: 100px 0;
  text-align: center;
  margin: 20px;
  border-radius: 8px;
}

.faq-section .btn{
  background-color:black;
}

.faq-section h2 {
  color:white;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: bold;
}
.faq-section p {
  font-size: 23px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Contact Section Styles */
.contact-section {

  background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=600");
   padding: 100px 0;
  text-align: center;
  margin:20px;
  border-radius:8px ;
  opacity: 0.9;
 
}

.contact-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  font-weight: 150px;
}

.contact-section p {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .btn {
    font-size: 16px;
  }

  .services-section h2 {
    font-size: 28px;
  }

  .service-card h3 {
    font-size: 20px;
  }

  .service-card p {
    font-size: 14px;
  }

  .contact-section h2 {
    font-size: 28px;
  }

  .contact-section p {
    font-size: 18px;
  }

  .footer {
    font-size: 12px;
  }
}


.carousel-inner
{
  border-radius: 10px;

}

.carousel-image {
  border-radius: 10px;    
  width: 100%;
  height: 500px;
  object-fit:cover;
}