/* HomePage.css */

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar { 
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Hero Section Styles */
.hero-section {



  background-image: url("https://images.pexels.com/photos/210881/pexels-photo-210881.jpeg?auto=compress&cs=tinysrgb&w=600");
  padding: 100px 0;
 text-align: center;
 margin:20px;
 border-radius:8px ;
}

.hero-content h1 {
  font-size: 48px;
 font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Services Section Styles */
.services-section {
  padding: 80px 0;
  text-align: center;

}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.service-card {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 40px;
  transition: box-shadow 0.3s ease;
}

.service-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
  color: #888;
}

/* Contact Section Styles */
.contact-section {

  /* background-color: #ced2d5;
   */
  background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=600");
   padding: 100px 0;
  text-align: center;
  margin:20px;
  border-radius:8px ;
 
}

.contact-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  font-weight: 150px;
}

.contact-section p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .btn {
    font-size: 16px;
  }

  .services-section h2 {
    font-size: 28px;
  }

  .service-card h3 {
    font-size: 20px;
  }

  .service-card p {
    font-size: 14px;
  }

  .contact-section h2 {
    font-size: 28px;
  }

  .contact-section p {
    font-size: 18px;
  }

  .footer {
    font-size: 12px;
  }
}


.carousel-inner
{
  border-radius: 10px;

}

.carousel-image {
  border-radius: 10px;    
  width: 95%;
  height: 500px;
  object-fit:cover;
}