@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");


.Mform {
  box-sizing:content-box;
  max-width: 70%;
  width: 70%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  /* margin: 0 auto; */
  margin-top: 7rem ;
   height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.5s ease;
  background:#d6cbd3;
  color: rgb(31, 9, 9);
  border-radius: 20px;
 
}

.Mform h3 {
  color: hsl(0, 8%, 5%);
  font-size: 34px;
  margin-bottom: 20px;
}

.formbody {
  margin-bottom: 20px;
}

.form_label {
  /* font-weight: bold; */
  margin: 10px;
  font-size: 17px;
  padding:20px;
}

.form_input {
  width: 100%;
  margin: 10px;
  max-width: 26em; /* Adjust this value to control the input box width */
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 18px; /* Increase the font size as needed */
}

.form_input:focus {
  border-color: #666;
}

/* .btn {
  /* background-color: #333; */
  /* color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; */
/* }   */

/* .footer:hover {
  background-color: #555;
} */

/* Add animation */
/* @keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.form {
  animation: slideIn 0.5s ease;
}
