@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Darumadrop+One&display=swap");
.navbar {
  height: 80px;
  background-image: linear-gradient(55deg,rgb(51, 49, 49),rgb(175, 163, 163), rgb(41, 38, 38),rgb(10, 20, 54));
  color: aliceblue;
}

.navbar-brand {
  font-family: "Darumadrop One", cursive;
  font-size: 1.8rem;
  color: aliceblue;

}

.nav-link {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.dropdown-menu .nav-link {
  color: black;
}

.login {
  font-size: 1.4rem;
  font-weight: bold;
}

.container-fluid {
  color: black;
}

.M-R {
  font-weight:bolder;
  font-size: large;
  margin-left: 5px;
  text-decoration: none;
}

.m-login {
  margin-right: 10px;
  border-radius: 0;
  text-decoration: none;
}

.u-login {
  margin-left: 0px;
  box-sizing: content-box;
  border-radius: 0;
  text-decoration: none;
}

.m-login:hover {
  /* background-color: rgb(18, 16, 17); */
  color: rgb(255, 255, 255);
}

.u-login:hover {
  /* background-color: rgb(18, 16, 17); */
  color: rgb(255, 255, 255);
}
