.footer {
    background-color: #434444;
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size:18px;
  }
  
  .footer-links li {
    margin-right: 10px;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #9e9e9e;
  }
  
  .footer-content {
    font-size: 14px;
  }
  
  .footer-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(249, 249, 249);
    bottom: -10px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  /* .footer-content:hover::before {
    opacity: 1;
    transform: translateY(-5px);
  } */
  