/* 

*{
    margin:0;
    padding:0
}

#login
{  
    display: flex;
  display: grid;

  max-width: 50vh;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: .1px;    
  border-radius: 5px;
  margin-top: 4rem;
  margin-left: 34rem;
  background-color: rgb(6, 6, 42);
 
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.form-text
{
    color: rgb(67, 66, 66);
} */



#login {
    display: flex;
    display: grid;
    max-width: 500px;
   height: 650px;
   align-items: center;
    justify-content: center;
    border: solid;
    border-width: .1px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 4rem;
    background: linear-gradient(to bottom, #0077ff, #00c9ff);
   color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    animation: slideIn 0.5s ease;
    transition: background-color 0.3s ease;
   
}
  
  
  #login:hover {
    background-color: rgb(23, 23, 123); /* Change background color on hover */
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  