/* 

*{
    margin:0;
    padding:0
}

#login
{  
    display: flex;
  display: grid;

  max-width: 50vh;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: .1px;    
  border-radius: 5px;
  margin-top: 4rem;
  margin-left: 34rem;
  background-color: rgb(6, 6, 42);
 
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.form-text
{
    color: rgb(67, 66, 66);
} */

/* .mechanic-login {
  background-image: url("https://images.unsplash.com/photo-1648941416478-319d8c2d06d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  */

.mechanicl{
  background-color: linear-gradient(to bottom,#0a0a0b, #05313f);
}
#login {
  display: flex;
  display: grid;
  max-width: 500px;
  height: 600px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.1px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 1.3rem;
  background: linear-gradient(45deg, #0a0a0b, #05313f);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  animation: slideIn 0.5s ease;
  transition: background-color 0.3s ease;
}
.form-text {
  color: grey;
}
.form-control {
  color: black;
}

#login:hover {
  background-color: rgb(23, 23, 123); /* Change background color on hover */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
