/* 

*{
    margin:0;
    padding:0
}

#login
{  
    display: flex;
  display: grid;

  max-width: 50vh;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: .1px;    
  border-radius: 5px;
  margin-top: 4rem;
  margin-left: 34rem;
  background-color: rgb(6, 6, 42);
 
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.form-text
{
    color: rgb(67, 66, 66);
} */

.mechanicl {
  background: linear-gradient(to bottom, #078bf0, #ee0ab5);
}

#login {
  display: flex;
  display: grid;
  max-width: 500px;
  height: 650px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 0.1px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 0.1rem;
  background: linear-gradient(to bottom, #0a0a0b, #021920);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  animation: slideIn 0.5s ease;
  transition: background-color 0.3s ease;
}
.form-text {
  color: grey;
}
.form-control {
  color: black;
}

#login:hover {
  background-color: rgb(23, 23, 123); /* Change background color on hover */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
