

*{
    margin:0;
    padding:0
}

#login
{  
    display: flex;
  display: grid;
  /* gap: 4px; */
  max-width: 50vh;
  height: 80vh;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: .1px;    
  border-radius: 5px;
  margin-top: 4rem;
  margin-left: 34rem;
  /* margin-bottom: 10px; */
  background-color: rgb(6, 6, 42);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); */
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.form-text
{
    color: rgb(67, 66, 66);
}