
/* FAQ.css */

.faq-container {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 35px;
  /* text-align: center; */
}
.faq-container h1{
  background: linear-gradient(45deg, #0a0a0b, #05313f);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
    margin: 10px 0;
}

  
  .faq-list {
    margin-top: 20px;
  }
  
  .faq-item {
    background-color: #6d6f7296;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    position: relative; /* Add this */
  }
  .faq-item:hover {
    background-color: #56595c;
    color: #fff;
    transform: scale(1.03);

}


  
  .faq-item.active {
    /* background-color: #2f86e2; */
    background-color: #3f3f40;
    color: #fff;
  }

  .faq-item.active::before { /* Add this */
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
  }
  
  .faq-question {
    font-weight: bold;
    font-size: 24px;
  }

  .faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 17px;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  @media (max-width: 600px) {
    .faq-container {
      padding: 10px;
    }
  }
  